In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

In [2]:
corpus = ['The series depicts the story of three poor sisters who are close',
          'their involvement in the case of 70 billion won which goes missing',
          'how they bravely face the richest family who are their opponents']

In [3]:
bigram_vect = CountVectorizer(ngram_range=(2,2))
bigram_vect_matrix = bigram_vect.fit_transform(corpus)

bigram_vect_matrix = bigram_vect_matrix.toarray()
bigram_vocab = bigram_vect.get_feature_names()
pd.DataFrame(bigram_vect_matrix, columns=bigram_vocab)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,70 billion,are close,are their,billion won,bravely face,case of,depicts the,face the,family who,goes missing,...,the richest,the series,the story,their involvement,their opponents,they bravely,three poor,which goes,who are,won which
0,0,1,0,0,0,0,1,0,0,0,...,0,1,1,0,0,0,1,0,1,0
1,1,0,0,1,0,1,0,0,0,1,...,0,0,0,1,0,0,0,1,0,1
2,0,0,1,0,1,0,0,1,1,0,...,1,0,0,0,1,1,0,0,1,0